<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/systock?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">vertrigo</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="Classes/Fabricante.hbm.xml"/>
    <mapping resource="Classes/Login.hbm.xml"/>
    <mapping resource="Classes/Endereco.hbm.xml"/>
    <mapping resource="Classes/Manutencao.hbm.xml"/>
    <mapping resource="Classes/TipoEquipamento.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
